<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/view">View All</a></li>
    </ul>
    <div class="content">
        {{{body}}} 
    </div>
</body>
</html>
